body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px solid red;
  width: 80vw;
  margin: auto;
}

.card{
  margin: 1%;
}